body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: auto;
	/* max-width: 38rem; */
	/* padding: 10px; */
}

.page-landscape {
	display: flex;
	flex-direction: column;
	width: 297mm;
	height: 209.8mm;
	padding: 5mm 10mm;
	margin: 10mm auto;
	border: 1px #d3d3d3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.page-portrait {
	display: flex;
	flex-direction: column;
	height: 297mm;
	width: 209.8mm;
	padding: 5mm 10mm;
	margin: 10mm auto;
	border: 1px #d3d3d3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page {
	width: 210mm;
	height: 291.8mm;
	/* padding: 10mm; */
	margin: 10mm auto;
	border: 1px #d3d3d3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* @page {
	size: A4;
} */

@media print {
	body > * {
		visibility: hidden;
	}

	.section-to-print {
		visibility: visible !important;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.page-landscape {
		margin: 0px;
		page-break-after: always;

		border-style: none;
		/* box-shadow: initial; */
	}
	.page-portrait {
		margin: 0px;
		page-break-after: always;

		border-style: none;
		/* box-shadow: initial; */
	}
}
